<h2>Showing <%= @article.title %></h2>

<div>
  <p><strong>Title:&nbsp;</strong><%= @article.title %></p>
  <p><strong>Text:&nbsp;</strong><%= @article.text %></p>
</div>
<p><%= link_to "Show All Articles", articles_path, html: {class: "button"} %>